.flow-control {
    overflow: auto;
    background-image: url("/assets/flowBG.png");
    background-size: 635px 330px;
    margin: auto;
    width: 635px;
    height: 330px;
    /*margin-top: px;*/
}

.heart-slider {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#heart {
    background: url("/assets/beatingHeart.gif");
    background-size: 42px 42px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    height: 42px;
    width: 42px;
}

#slide1 {
    width: 500px;
    margin-top: -15px;
    margin-left: 70px;
}

#slide2 {
    width: 500px;
    margin-top: -15px;
    margin-left: 70px;
}

#dob {
    margin-top: 115px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#bpm {
    margin-top: 27px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#heartBeat {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}