.XMLID_298_
{
  background : #F2F2F2;
  background : rgba(242, 242, 242, 1);
  border-style : Solid;
  border-color : #CCCCCC;
  border-color : rgba(204, 204, 204, 1);
  border-width : 1px;
}
.XMLID_46_
{
  background : #F2F2F2;
  background : rgba(242, 242, 242, 1);
}
.XMLID_297_
{
  background : #F2F2F2;
  background : rgba(242, 242, 242, 1);
  border-style : Solid;
  border-color : #B3B3B3;
  border-color : rgba(179, 179, 179, 1);
  border-width : 1px;
}
.XMLID_218_
{
  background : #F2F2F2;
  background : rgba(242, 242, 242, 1);
  border-style : Solid;
  border-color : #B3B3B3;
  border-color : rgba(179, 179, 179, 1);
  border-width : 1px;
}
.XMLID_296_
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  border-style : Solid;
  border-color : #CCCCCC;
  border-color : rgba(204, 204, 204, 1);
  border-width : 1px;
}
.XMLID_47_
{
  background : #F2F2F2;
  background : rgba(242, 242, 242, 1);
}
.XMLID_215_
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  border-style : Solid;
  border-color : #CCCCCC;
  border-color : rgba(204, 204, 204, 1);
  border-width : 1px;
}
.XMLID_25_
{
  background-image : url(XMLID_25_.png);
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
}
.XMLID_26_
{
  background-image : url(XMLID_26_.png);
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
}
.XMLID_21_
{
  background-image : url(XMLID_21_.png);
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
}
.XMLID_28_
{
  background-image : url(XMLID_28_.png);
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
}
.XMLID_34_
{
  background-image : url(XMLID_34_.png);
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
}
.XMLID_27_
{
  background-image : url(XMLID_27_.png);
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
}
.NormalCharacterStyle1
{
  font-family : Roboto;
  font-size : 7px;
  letter-spacing : 1.89px;
  color : #000000;
  color : rgb(0, 0, 0);
}
.NormalCharacterStyle2
{
  font-family : Roboto;
  font-size : 7px;
  letter-spacing : 1.89px;
  color : #000000;
  color : rgb(0, 0, 0);
}
.NormalCharacterStyle3
{
  font-family : Roboto;
  font-weight : bold;
  font-size : 15px;
  letter-spacing : 15px;
  color : #000000;
  color : rgb(0, 0, 0);
}
.NormalCharacterStyle
{
  font-family : Roboto;
  font-size : 7px;
  letter-spacing : 1.89px;
  color : #000000;
  color : rgb(0, 0, 0);
}
